:root {
  --icon-color-light: #000000;
  --icon-color-dark: #d3d3d3; /* Light grey for dark mode */
}

[data-theme="light"] {
  --icon-color: var(--icon-color-light);
}

[data-theme="dark"] {
  --icon-color: var(--icon-color-dark);
}
