// app global css in SCSS form
q-card {
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 10px rgba(0, 0, 0, 0.75);
}
